<%- include('partials/head', {pageName})%>
    <%- include('partials/navbar', {pageName})%>
        <div class="d-flex flex-column min-vh-100">
            <main>

                <div class="container">
                    <%- include('partials/flash')%>
                </div>


                <div class="mt-5 container py-4">

                    <div class="jumbotron p-4 mb-5 rounded-3 text-center maroon" id="jumbo-id">
                        <div class="container-fluid py-5">
                            <h1 class="display-5 fw-bold text-white">Welcome back, <%= userAccount.firstName %>!</h1>
                            <p class="fs-4 text-white">You can view your restaurant history, saved recipes, and other
                                activity here. </p>
                        </div>

                    </div>

                    <div class="container mt-2 mb-5">
                        <div class="row p-5 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg pb-5">
                            <div class="col-lg-5">
                                <h1 class="display-5 fw-bold lh-1 mb-3">Your Dashboard</h1>
                                <div class="lead">
                                    <p>Here is your personal breakdown:</p>
                                    <ul>
                                        <li id="tot">Total points: <%= stats.totalPoints %>
                                            <ul>
                                                <li id="rests">Unique restaurants visited: <%= stats.totalRestaurants %></li>
                                                <li id="recs">Unique recipes made: <%= stats.totalRecipes %></li>
                                            </ul>
                                        </li>
                                        
                                        <li id="avg">
                                            Average rating given: <%= stats.averageRatings %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                    <canvas id="myChart"></canvas>
                                        <!-- <script src="../../node_modules/chart.js/dist/chart.js"> -->
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"> </script>
                                        <script type="module" src="js/charts.js"></script>
                            </div>
                        </div>
                    </div>


                    <div class="h-100 p-5 border rounded-3 accent-2" id="recipe-library">
                        <h2 class="mb-4">Recipe Library</h2>
                        <div class="card mb-5">

                            <a class="btn btn-secondary favorites-collapse" data-bs-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Expand <i class='fas fa-angle-double-down'></i>
                            </a>


                            <div class="collapse" id="collapseExample">
                                
                                <div class="card card-body">

                                    <% var buttonIndex = 0 %>
                                    <% if (library.length != 0) { %>

                                        <ul class="list-group">
                                            <% library.forEach((recipe)=> { %>
                                                <div class="list-recipe">
                                                    <li class="list-group-item d-flex list-group-item-action">
                                                        <div class="me-auto">
                                                            <%= recipe.name %>
                                                        </div>
                                                        <a class="btn btn-secondary me-4" href="/recipes/<%= recipe.id %>"><i
                                                                class="fas fa-book"></i> View Full Recipe</a>
                                                        <form action="/dashboard/recipes" method="post">
                                                            <button class="btn btn-danger remove-recipe" name="id" data-index="<%= buttonIndex %>" value="<%= recipe.id %>" ><i class="fas fa-minus-circle"></i></button>
                                                        </form>
                                                    </li>
                                                </div>
                                                <% buttonIndex += 1 %>
                                                <% }) %>
                                        </ul>

                                        <% } else { %>
                                            <h4 class="text-center">Nothing to show here.</h4>
                                            <% } %>

                                </div>



                            </div>



                        </div>
                    </div>

                    <div class="h-100 p-5 border rounded-3 mt-5 accent-3" id="dining-history">
                        <h2 class="mb-4">Dining History</h2>
                        <div class="card mb-5">
                            <a class="btn btn-secondary favorites-collapse" data-bs-toggle="collapse" href="#collapseRestaurant" role="button"
                            aria-expanded="false" aria-controls="collapseRestaurant">
                            Expand <i class="fas fa-angle-double-down"></i>
                            </a>
                            <div class="collapse" id="collapseRestaurant">
                                <div class="card card-body">
                                    <% if (diningHistory !=undefined) { %>

                                        <ul class="list-group">
                                            <% diningHistory.forEach((restaurant)=> { %>
                                                <li class="list-group-item d-flex list-group-item-action">
                                                    <div class="me-auto">
                                                        <%= restaurant.name %>
                                                    </div>
                                                    <p>
                                                        <p class="starability-result mx-3" data-rating="<%= restaurant.rating %>">
                                                            Rated: <%= restaurant.rating %> stars
                                                          </p>
                                                    </p>
                                                    <a class="btn btn-secondary me-4" href="/restaurants/<%= restaurant.id %>"><i
                                                        class="fas fa-utensils"></i> View Your Review</a>
                                                </li>
                                                <% }) %>
                                        </ul>

                                        <% } else { %>
                                            <h4 class="text-center">Nothing to show here.</h4>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%- include('partials/leaderboard', {topUsers} )%>

                </div>
            </main>

            <%- include('partials/foot')%>
        </div>