<%- include('partials/head', {pageInfo: pageInfo})%>
    <%- include('partials/navbar', {pageInfo: pageInfo})%>
        <div class="d-flex flex-column min-vh-100">
            <main>

                <div class="container">
                    <%- include('partials/flash')%>
                </div>


                <div class="container py-4">

                    <div class="jumbotron p-4 mb-2 rounded-3 text-center" style="background-color: rgb(80, 0, 0);">
                        <div class="container-fluid py-5">
                            <h1 class="display-5 fw-bold text-white">Welcome back, <%= userAccount.firstName %>!</h1>
                            <p class="fs-4 text-white">You can view your restaurant history, saved recipes, and other
                                activity here. </p>
                        </div>

                    </div>

                    <div class="container mt-2 mb-5">
                        <div class="row p-5 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg pb-5">
                            <div class="col-lg-5">
                                <h1 class="display-5 fw-bold lh-1 mb-3">Your Dashboard</h1>
                                <div class="lead">
                                    <p>Here is your personal breakdown:</p>
                                    <ul>
                                        <li>Unique restaurants visited: <%= stats.totalRestaurants %></li>
                                        <li>Unique recipes made: <%= stats.totalRecipes %></li>
                                        <li>Average rating given: <%= stats.averageRatings %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="h-100 p-5 border rounded-3" style="background-color: rgb( 218, 247, 166 );">
                        <h2 class="mb-4">Recipe Library</h2>
                        <div class="card mb-5">

                            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Expand <i class="fas fa-angle-double-down"></i>
                            </a>


                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">

                                    <% if (library !=undefined) { %>

                                        <ul class="list-group">
                                            <% library.forEach((recipe)=> { %>
                                                <li class="list-group-item d-flex list-group-item-action">
                                                    <div class="me-auto">
                                                        <%= recipe %>
                                                    </div>
                                                    <a class="btn btn-secondary me-4" href="/recipes"><i
                                                            class="fas fa-book"></i> View Full Recipe</a>
                                                    <a class="btn btn-danger"><i class="fas fa-minus-circle"></i></a>
                                                </li>
                                                <% }) %>
                                        </ul>

                                        <% } else { %>
                                            <h4 class="text-center">Nothing to show here.</h4>
                                            <% } %>

                                </div>



                            </div>



                        </div>
                    </div>

                    <div class="h-100 p-5 border rounded-3 mt-5" style="background-color: rgb( 132, 255, 247 );">
                        <h2 class="mb-4">Dining History</h2>
                        <div class="card mb-5">
                            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseRestaurant" role="button"
                            aria-expanded="false" aria-controls="collapseRestaurant">
                            Expand <i class="fas fa-angle-double-down"></i>
                            </a>
                            <div class="collapse" id="collapseRestaurant">
                                <div class="card card-body">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <%- include('partials/leaderboard', {topUsers} )%>

                </div>
            </main>

            <%- include('partials/foot')%>
        </div>