<%- include('partials/head', {pageInfo: pageInfo})%>
    <%- include('partials/navbar', {pageInfo: pageInfo})%>
        <div class="d-flex flex-column min-vh-100">

            <main class="flex-fill">
                <div class="container fill">
                    <h1>Recipe Library</h1>
                    <hr />

                    <form action="/recipes" method="POST" id="searchForm">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="cuisineSearch" class="text-muted">Search by cuisines</label>
                                <div class="input-group-btn search-panel" id="cuisineSearch">
                                    <!-- cuisine down selection -->
                                    <select name="cuisine_type" id="search_param" class="form-control"
                                        data-toggle="dropdown">
                                        <% cuisineData['cuisines'].forEach(function(cuisine) { %>
                                            <option value=<%=cuisine.toLowerCase() %>><%= cuisine %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="querySearch" class="text-muted">Search by keywords</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    <input type="text" id="querySearch" class="form-control" aria-label="String query" placeholder="Enter recipe...">
                                    </div>
                            </div>
                        </div>
                        <label for="test" class="text-muted">Enter dietary restrictions (optional)</label>
                        <div class="form-group" id="test">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="vegan" id="inlineCheckbox1"
                                    value="">
                                <label class="form-check-label" for="inlineCheckbox1">Vegan</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="vegetarian" id="inlineCheckbox2"
                                    value="">
                                <label class="form-check-label" for="inlineCheckbox2">Vegetarian</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="gf" id="inlineCheckbox3" value="">
                                <label class="form-check-label" for="inlineCheckbox3">Gluten Free</label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Search</button>
                          
                    </form>

                    <hr />
                    <!-- recipe cards-->
                    <div class="form-row">
                        <div class="card">
                            <h5 class="card-header">Recipe 1</h5>
                            <div class="card-body">
                                <h5 class="card-title">This card will contain image of recipe</h5>
                                <p class="card-text">*Image* and *Rate*</p>
                                <a href="#" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-header">Recipe 2</h5>
                            <div class="card-body">
                                <h5 class="card-title">This card will contain image of recipe</h5>
                                <p class="card-text">*Image* and *Rate*</p>
                                <a href="#" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-header">Recipe 3</h5>
                            <div class="card-body">
                                <h5 class="card-title">This card will contain image of recipe</h5>
                                <p class="card-text">*Image* and *Rate*</p>
                                <a href="#" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <a href="#" class="btn btn-primary">Load More</a>



                </div>
            </main>

            <%- include('partials/foot')%>
        </div>