<%- include('partials/head', {pageInfo: pageInfo})%>
    <%- include('partials/navbar', {pageInfo: pageInfo})%>



        <div class="d-flex flex-column min-vh-100">



            <main class="flex-fill">
                <div class="container justify-content-center align-items-center mt-2">
                    <div class="mt-5 row">
                        <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
                            <%- include('partials/flash')%>
                            <div class="card shadow mb-5">
                                <div class="card-body p-4">
                                    <div class="card-title">
                                        <h1 class="text-center hero-heading" id="restaurant-title">
                                            <%= restaurant_name %>
                                        </h1>
                                    </div>
                                    <br>
                                    <div class="form-group">

                                        <form action="/restaurants/<%= id %>" method="post" id="submit_review">
				                            <p class="hide_me text-danger" id="error_msg"></p>
                                            <% var already_reviewed = (past_review != undefined); %>
                                            <% var number_rating; %>
                                            <% var heading_description %>
                                            <% var button_description %>
                                            <% var reviewID %>


                                            <% if (already_reviewed) { 
                                                heading_description = "Edit your review"
                                                button_description = "Update Review"
                                                number_rating = past_review.rating
                                                reviewID = past_review.reviewId
                                            } else { 
                                                heading_description = "Rate your experience"
                                                button_description = "Post Review"
                                                number_rating = 0
                                                reviewID = -1
                                            } %>

                                            <legend><%= heading_description %></legend>
                                            
                                            <fieldset class="starability-checkmark mt-3">

                                                <input type="radio" id="no-rate" <% if (number_rating == 0) { %> checked <% } %> class="input-no-rate" name="rating" value="0"  aria-label="No rating." />

                                                <input type="radio" id="first-rate1" <% if (number_rating == 1) { %> checked <% } %> name="rating" value="1" />
                                                <label for="first-rate1" title="Terrible">1 star</label>

                                                <input type="radio" id="first-rate2" <% if (number_rating == 2) { %> checked <% } %> name="rating" value="2" />
                                                <label for="first-rate2" title="Not good">2 stars</label>

                                                <input type="radio" id="first-rate3" <% if (number_rating == 3) { %> checked <% } %> name="rating" value="3" />
                                                <label for="first-rate3" title="Average">3 stars</label>

                                                <input type="radio" id="first-rate4" <% if (number_rating == 4) { %> checked <% } %> name="rating" value="4" />
                                                <label for="first-rate4" title="Very good">4 stars</label>

                                                <input type="radio" id="first-rate5" <% if (number_rating == 5) { %> checked <% } %> name="rating" value="5" />
                                                <label for="first-rate5" title="Amazing">5 stars</label>

                                            </fieldset>
                                            <label for="text-form-review" class="form-label " for="text-form-review">Leave a review:</label>
                                            <textarea class="form-control" id="text-form-review" rows="3" name="review" placeholder="What did you like about this place? What didn't you like?"><% if (already_reviewed) { %> <%= past_review.review %> <% } %></textarea>
                        

                                            <div class="row mt-4">
                                                <div class="col-6">
                                                    <button type="submit" name="reviewID" value="<%= reviewID %>" class="btn btn-primary maroon-button"><%= button_description %></button>
                                                </div>
                                                <div class="col-6">
                                                    <div class="float-end"><button class="btn btn-primary" id="tweet_button" type="button"><i class="fab fa-twitter"></i>  Tweet your review @EatsAggie</button></div>
                                                </div>
                                                <div class="col-4 mt-4">
                                                    <button class="btn btn-secondary" onclick="window.history.back()">
                                                        <i class="fas fa-angle-double-left"></i>
                                                        Back to Results
                                                    </button>
                                                </div>
                                            </div>

                        
                                        </form>

                                        <br>

                                        <div class="row">
                                            <div class="col-4">

                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
        <%- include('partials/foot')%>
            </div>